*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: antiquewhite;
}
.search-box input{
    height: 30px;
    width: 400px;
    border-radius: 6px;
}

.products {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1100px;
}
.card {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    transition: 0.3s ease;
    cursor: pointer;
    text-align: center;
    padding-bottom: 15px;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 25px rgba(0,0,0,0.15);
}
.card img {
    width: 100%;
    height: 300px;
    padding: 5px;
    object-fit: contain;
}

.card .title {
    font-size: 18px;
    font-weight: 600;
    margin: 12px 0 5px;
    color: #333;
    font-family: "Poppins", sans-serif; 
}

.card .price {
    font-size: 20px;
    font-weight: 700;
    color: #2a9d8f;
    font-family: "Roboto", sans-serif;
}
a{
    text-decoration: none;
}